* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
}

a, a:link, a:visited {
  color: #333;
}

header.globalHeader {
  padding: 1em;
  color: white;
  
  h1 {
    // display: grid;
    // grid-gap: 0.5em;
    // grid-template-columns: min-content auto;
  }
  .headerIcon {
    display: inline-block;
    height: 1em;
    width: 1em;
  }
  a, a:link, a:visited {
    color: currentColor;
    text-decoration: none;
  }

  svg path {
    fill: currentColor;
  }
}
main.app > div {
  padding: 1.5em;
}
.heading {
  font-weight: bold;

  &.level-3 {
    font-size: 1.35rem;
    margin-bottom: 1em;
  }
}
section.two-col {
  display: grid;
  grid-template-columns: 1fr  1fr;
}
.semantic-layout {
  margin-bottom: 2em;

  & [data-el],
  &[data-el] {
    border: 1px solid rebeccapurple;
    padding: 0.5em;
    position: relative;

    &:before {
      background-color: rebeccapurple;
      color: #fff;
      content: attr(data-el);
      font-weight: bold;
      display: block;
      right: 0;
      line-height: 0.45;
      padding: 0.45em;
      position: absolute;
      top: 0;
    }
  }
  & > div[data-el],
  &[data-el] {
    padding: 1.5em;
  }
}
.grid-wrap-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
textarea {
  height: 200px;
  width: 320px;
}
.updateUI {
  max-width: 320px;

  .toast {
    background-color: lightyellow;
    display: flex;
    opacity: 0;
    padding: 0.5em;
    pointer-events: none;

    &.updating {
      opacity: 1;
      pointer-events: all;
    }

    .dismiss {
      background-color: transparent;
      border: none;
      display: inline-block;
      font-size: 1rem;
      font-weight: bold;
      margin-left: auto;
    }
  }
}
.skip-link {
  left: 0;
  position: absolute;
  top: 0;

  li {
    list-style: none;
  }

  a {
    display: block;
    opacity: 0;

    &:focus {
      background-color: black;
      opacity: 1;
    }
  }
}
.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
