* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
}

a, a:link, a:visited {
  color: #333;
}

header.globalHeader {
  padding: 1em;
  color: white;
  
  h1 {
    // display: grid;
    // grid-gap: 0.5em;
    // grid-template-columns: min-content auto;
  }
  .headerIcon {
    display: inline-block;
    height: 1em;
    width: 1em;
  }
  a, a:link, a:visited {
    color: currentColor;
    text-decoration: none;
  }

  svg path {
    fill: currentColor;
  }
}
.skip-link {
  left: 0;
  position: absolute;
  top: 0;

  li {
    list-style: none;
  }

  a {
    display: block;
    opacity: 0;

    &:focus {
      background-color: black;
      opacity: 1;
    }
  }
}
.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
