.wrap {
    position: relative;
}
.activator {
    align-items: center;
    background-color: inherit;
    border: 1px solid transparent;
    border-color: #ccc;
    color: inherit;
    display: flex;
    font-size: inherit;
    line-height: 1;
    max-width: 120px;
    padding: 1em;

    &:after {
        content: "";
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        height: 0.5em;
        margin-left: auto;
        width: 0.5em;
        transform: rotate(45deg);
    }
}
.itemList {
    background-color: #ececec;
    color: black;
    display: none;
    margin: 0;
    min-width: 120px;
    padding: 0;
    position: absolute;

    &> div {
        list-style: none;
        margin: 0;

        a, a:link {
            display: block;
            padding: 0.5em;
        }
    }
    &.active {
        display: block;
    }
}